<h3 class="text-center">Bikes List</h3>

<div class="container text-center">
    <table class="table table-hover">

        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Model</th>
                <th scope="col">Price</th>
                <th scope="col">Serial</th>
                <th scope="col">Action</th>
            </tr>
        </thead>

        <tbody>

            <tr *ngFor="let item of bikesList">
                <th scope="row"> {{ item.id }}</th>
                <th scope="row"> {{item.model }} </th>
                <th scope="row"> {{ item.price }} </th>
                <th scope="row"> {{ item.serial }} </th>
                <th><a [routerLink]="['../bikes-update', item.id]" routerLinkActive="router-link-active">Update</a>
                    <button (click)="deleteItem(item.id)">Eliminar</button>
                </th>
            </tr>

        </tbody>

    </table>
    <div>
        <button (click)="initPagination(i)" *ngFor="let item of listPages; index as i">{{i+1}}</button>
    </div>
</div>