<div class="container-fluid registry-content text-center">
       <!--BACKGROUND LOGIN-->
       <div class="login-background"></div>
       <!--BACKGROUND LOGIN-->

       <!--account content-->
        <div class="container card create-account-content">
            <!--HEADER FORM-->
            <div class="container text-center mt-5">
                <h2 class="description-registry">Regístrate</h2>
            </div>
            <!--/ HEADER FORM-->

            <!--BODY FORM -->
            <div class="card-body">
                <form [formGroup]="">
                    <div class="form-group cForm">
                        <input type="email" class="form-control text-center" autocomplete="offset" placeholder="Nombre"
                            formControlName="username">
                    </div>
                    <div class="form-group cForm">
                        <input type="email" class="form-control text-center" autocomplete="offset" placeholder="Apellido"
                            formControlName="username">
                    </div>
                    <div class="form-group cForm">
                        <input type="email" class="form-control text-center" autocomplete="offset" placeholder="Email"
                            formControlName="username">
                    </div>
                    <div class="form-group cForm">
                        <input type="password" placeholder="Password" class="form-control text-center" 
                        formControlName="password"/>
                    </div>
    
                    <div class="container text-center cForm">
                        <button type="submit" class="btn btn-primary submitLogin">Registrate</button>
                    </div>
                    <div class="container registry-conditions text-center">
                         <span class="text-conditions">
                            Al registrarte, aceptas nuestras Condiciones, la Política de datos y la Política de cookies.
                        </span>
                    </div>
                    <div class="container mt-3">
                        <span class="text-conditions">¿Tienes una cuenta?</span>
                        <a href="#">Inicia sesión</a>
                    </div>
                </form>
            </div>
            <!--/ BODY FORM -->
        </div>
        <!--account content-->

</div>
   
