/** MAIN **/
.registry-content
    background-image: url('../../../assets/img/background-hd.jpg')
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%
    height 100vh
/*END MAIN*/

/*LOGIN CONTAINER STYLES*/
.login-background
    position: absolute 
    background-image: url('../../../assets/img/background-hd.jpg');
    background-repeat: no-repeat;
    background-position: center;
    height 50em
    filter: blur(8px); // degradado
    width: 40em;
    top: 50%
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 60px !important
.create-account-content
    position: absolute //
    top: 50%
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40em;
    padding: 0 !important
    margin: 0 !important 
    text-align: center;
    background: none // quitar fondo
    border: 7px solid black
    height 50em
    border-radius: 30px
/*LOGIN CONTAINER STYLES*/

/**HEADER LOGIN STYLES*/
.description-registry 
    color #ffffff
    font-family: 'Times New Roman', Times, serif
    font-weight: bolder
    font-size: 35px
/*HEADER LOGIN STYLES*/

/*STYLE CONTENT CARD BODY*/
.card-body
    margin-top: 1em 
.form-control 
    border-top: none
    border-left: none
    border-right: none
    border-radius: 15px
    margin-bottom: 2em    
    
.form-control:focus 
    box-shadow: none // para que la sombre desaparezca

.cForm // container form
    margin: 1.5em 0

.registry-conditions
    margin-top: 2em
.text-conditions
    color: #ffffff
    font-family: 'Times New Roman', Times, serif
    font-weight: bolder
.field-required
    margin: 0;
    color: red
    font-weight: bolder

.rememberMe,.registry-account
    color: #ffffff
    font-size: px
    font-weight: bolder


/*submitLogin*/
.submitLogin 
    margin-top: 1.2em
    height 3.1em

/*STYLE CONTENT FORMS LOGIN*/


