<div class="Container-login-main container-fluid">
    <!--BACKGROUND LOGIN-->
    <div class="login-background"></div>
    <!--BACKGROUND LOGIN-->

    <!--Content-login-->
    <div class="container card login-content">
        <div class="card-header text-center mt-5">
            <img src="../../../../assets/img/avatar10.png" class="avatar-login">
            <p class="description-login">Login</p>
        </div>
        <div class="card-body">
            <form [formGroup]="loginForm" (ngSubmit)="login()">
                <div *ngIf="!statusSend" class="alert alert-danger alert-dismissible fade show" role="alert">
                    ¡¡ Usuario o contraseña incorrectos !!
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="form-group cForm">
                    <input type="email" class="form-control text-center" autocomplete="offset" placeholder="Username"
                        formControlName="username">
                        <div *ngIf="loginForm.get('username').invalid && (loginForm.get('username').dirty || 
                        loginForm.get('username').touched)" class="field-required">
                            *Campo requerido*
                        </div>
                </div>
                <div class="form-group cForm">
                    <input type="password" placeholder="Password" class="form-control text-center" 
                    formControlName="password"/>
                    <div *ngIf="loginForm.get('password').invalid && (loginForm.get('password').dirty || 
                    loginForm.get('password').touched)" class="field-required">
                        *Campo requerido*
                    </div>
                </div>
                <div class="custom-control custom-checkbox mt-2">
                    <input type="checkbox" class="custom-control-input " id="defaultUnchecked" formControlName="rememberMe">
                    <label class="custom-control-label mt-2 rememberMe" for="defaultUnchecked">Remember Me?</label>
                </div>
                <div class="container">
                    <button class="btn btn-"></button>
                </div>
                <div class="container text-center cForm">
                    <button type="submit" class="btn btn-primary submitLogin">Login</button>
                </div>
                <div class="registry-account">
                    <p class="d-inline mr-2">¿No tienes una cuenta?</p>
                     <span>
                        <a routerLink="create-account" href="" class="registry-in">Registrate</a>
                    </span>
                </div>
            </form>
        </div>
    </div>
    <!--Content-login-->

</div>
