<div class="container">
    <div class="description-container text-center mt-5">
        <h1 class="title">401</h1>
        <h1 class="title">Acceso denegado</h1>
        <p class="description">Lo sentimos, pero no tienes permisos para ingresar a esta pagina</p>
    </div>
    <div class="img text-center">
        <figure>
            <img src="../../../assets/img/access-denied.webp">
        </figure>
    </div>

</div>