.container
    margin-top: 7em

.title
    font-weight: bolder
    color: #577BD1
    font-family: 'Times New Roman', Times, serif
.description
    font-family: 'Times New Roman', Times, serif
    font-weight: bolder
    font-size: 20px