<div class="row">
    <div class="col-lg-2">
        <a [routerLink]="['../sales']"> Catalogo </a>
        <br/>
        <a [routerLink]="['../sales/sale-list']"> Ventas </a>
    </div>
    <div class="col-lg-10">

        <router-outlet></router-outlet>

    </div>
</div>
