.aside-main, .row
    background: #0064FA
    height 100vh

.content-aside ul
    list-style none
    width 100%
    margin: 0
    padding: 0
.content-aside 
    width 100%

.content-aside ul li a
    text-decoration: none
    color: #ffffff
    font-weight: bold
    padding: 2em 0em
    font-size: 20px

.content-aside ul li 
    margin : 2em 0em
    text-align: center

.content-aside ul li:hover 
    background: #D3CDD7

.content-aside ul li a:hover
    font-size: 23px
