<div class="container-fluid aside-main">
    <div class="row">
        <div class="content-aside">
            <ul>
                <!--*appHasAnyAuthority="ROLE_ADMIN" => SOLO PARA ADMIN-->
                <li *appHasAnyAuthority="['ROLE_ADMIN','ROLE_USER']">
                    <a [routerLink]="['bikes']"> Bikes </a>
                </li>
                <li *appHasAnyAuthority="['ROLE_ADMIN']">
                    <a [routerLink]="['admin/product-sales']">Admin</a>
                </li>
                <li *appHasAnyAuthority="['ROLE_ADMIN']">
                    <a [routerLink]="['clients']"> Clients </a>
                </li>
                <li>
                    <a [routerLink]="['sales']"> Sales </a>
                </li>
            </ul>

        </div>

    </div>
</div>