<div class="container-fluid back-profile text-center">
    <figure>
        <img src="../../../../assets/img/a5.jpg" class="my-profile-avatar">       
    </figure>
    <div class="d-block">
        <p class="description-perfil">{{ nameUser }}</p>
        <p class="description-perfil">{{ emailUser }}</p> 
    </div>
</div>