.back-profile
    background-image: url('../../../../assets/img/b4.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width 100%
    height 35em
    display: flex
    align-items: center !important
    justify-content: center

.my-profile-avatar
    border-radius: 50%

.description-perfil
    color: #black
    font-weight: bolder
    font-size: 50px
    
