<!-- Inicio Header-->
<header id="Header-container" class="container-fluid">
        <div class="row Header-container-AlignV">
            <div class="col-8">
                <h2>Bike Store</h2>
            </div>

            <div class="dropdown show col-4 text-right div-avatar-main">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <figure class="avatar-container">
                        <img src="../../../assets/img/avatar10.png" class="img-avatar">
                    </figure>
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" [routerLink]="['profile']">Mi perfil</a>
                    <a class="dropdown-item">{{ nameUser }}</a>
                    <a class="dropdown-item">{{ emailUser }}</a>
                    <button class="btn btn-light"  (click)="logout()">
                        <a class="dropdown-item text-logut">Cerrar sesion</a>
                    </button>
                </div>
            </div>
        </div>
</header>
<!--Fin Header-->
<!--Inicio Menu-->
<nav class="navbar navbar-expand-sm  navbar-light  bg-light">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarnav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="text-center collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link">Home <span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['bikes']" class="nav-link">Bike</a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['clients']" class="nav-link">Client</a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['sales']" class="nav-link">Sales</a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['admin']" class="nav-link">Admin</a>
                </li>
            </ul>
        </div>
        <!--Buscador-->
        <div class="d-none d-md-block col-md-6 offset-md-2">
            <form>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="¿Encontro lo que buscaba?">
                    <span class="input-group-btn">
                        <button class="btn btn-adsi" type="button">
                            Buscar
                        </button>
                    </span>
                </div>
            </form>
        </div>
        <!--End-->
    </div>
</nav>
<!--Fin Menu-->