/*Variables*/
bottonSearch = #0064FA
bottomSearchHover = #0B9AE3
/*Inicio style Header*/
#Header-container
    background-color bottonSearch
    color white
    width 100%

.Login
    color white 

.Header-container-AlignV
    display flex !important
    align-items center !important
.Header-container-AlignV > div > h1
    margin-top 0
    margin-bottom 0
/*Avatar*/
.div-avatar-main
    border-radius: 50% !important
.img-avatar
    border-radius: 50%
    width: 35px
.avatar-container
    display inline-block
#dropdownMenuLink
    display inline-block !important
    border-radius: 50% !important
    background: none
    border: none
#dropdownMenuLink:hover
    background-color: gray

/*Fin Style Header*/

/*Inicio Navbar*/

.btn-adsi
    background-color bottonSearch
    color white 
.btn-adsi:hover
    background-color bottomSearchHover 
input.form-control:focus
    border-color bottonSearch
    box-shadow none
/*Fin Navbar*/