<!--Nav bar component-->
<div class="container-navbar">
    <app-navbar></app-navbar>
</div>
<!--/ Nav bar component-->
<div class="row">
    <div class="d-none d-md-block col-md-2 container-aside">
        <app-aside></app-aside>
    </div>
    <div class="content col-10">
        <router-outlet></router-outlet>
    </div>
</div>




